{%- extends '_molecules/quotes/_quote--props' -%}
{%- import '_macros/atoms' as render -%}

{#
    ### PROPERTIES ###
    ------------------

    INHERITED FROM: `_molecules/content/_content--props.twig`

    ### LUTS ###
    ------------
    icon.fa_icon_lut: font-awesome class LUT

    ### COMPONENTS ###
    ------------------

    ## ATOMS
    icon--fa: `_atoms/icons/icon--fa.twig`
#}

{%- block quote -%}

    {%- minify -%}

        {%- set props = props|merge({
            heading: props.content.heading ??? '',
            quote: props.content.quote ??? '',
            author: props.content.quoteAuthor ??? '',
            source: props.content.quoteSource ??? null
        }) -%}

        <div class="relative overflow-hidden py-5 md:py-10 {{ props.utilities -}}">
            <blockquote {{ props.source ? 'cite="'~ props.source ~ '"' : '' }} class="container mx-auto w-full whitespace-normal font-mono max-w-screen-md">

                <svg width="151" height="58" viewBox="0 0 151 58" fill="none" xmlns="http://www.w3.org/2000/svg" class="-ml-4 md:-ml-12 bottom-2 pb-4">
                    <path d="M127.412 21.3948C133.724 21.3948 138.487 22.537 141.7 24.8213C144.913 27.1057 147.252 30.8943 148.717 36.1873C150.239 41.4246 151 48.6955 151 58L131.892 58C131.78 52.4841 130.765 48.6955 128.849 46.634C126.932 44.5168 123.973 43.4582 119.971 43.4582L94.692 43.4582L93.762 43.4582C88.9147 43.4582 84.9974 41.8146 82.0101 38.5274C78.9664 35.2401 76.9655 30.3929 76.0073 23.9856L74.9927 23.9856C73.0763 36.633 66.8199 43.1239 56.2234 43.4582L30.944 43.4582C26.9985 43.4582 24.0676 44.4889 22.1512 46.5504C20.2348 48.6119 19.192 52.4284 19.023 58L0 58C-4.06713e-07 48.6955 0.760918 41.3967 2.28275 36.1037C3.74823 30.8108 6.11553 27.0499 9.38466 24.8213C12.5974 22.537 17.3038 21.3948 23.5039 21.3948L50.3897 21.3948L51.2352 21.3948C55.9698 21.3948 59.5207 19.6955 61.888 16.2968C64.2553 12.8424 65.439 7.41017 65.439 -1.43045e-05L85.6456 -1.51878e-05C85.6456 6.96444 86.801 12.2853 89.112 15.9625C91.4229 19.584 95.3121 21.3948 100.779 21.3948L127.412 21.3948Z" fill="#D61F69"/>
                </svg>

                <div class="animate px-6" data-animation="slideBottomToTop">

                    <p class="text-lg md:text-2xl lg:text-3xl text-gray-900">
                        {{- render.atom('text', 'content', {
                            content: props.quote
                        }) -}}
                    </p>

                    {# TODO: add transitions on the URLs, let's get fancy #}

                    <footer class="font-primary mt-8">
                        {%- if props.source.getUrl() ??? null -%}
                            <a
                                href="{{- props.source.getUrl() -}}"
                                data-tag-category="quote-source"
                                data-tag-action="click"
                                data-tag-label="{{- props.source.getUrl() -}}"
                                class="text-blue-500 text-base hover:text-blue-800"
                            >
                                {{- props.author }} &mdash; {{ props.source.getText() -}}
                            </a>
                        {%- else -%}
                            <span class="text-base">
                                {{- props.author -}}
                            </span>
                        {%- endif -%}
                    </footer>
                    <span class="text-blue-500">
                        <svg viewBox="0 0 628 55" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="ml-[50%] md:ml-[60%] mt-8 w-[400px]">
                            <g style="mix-blend-mode:multiply">
                                <path d="M31.4838 0.160889L11.2648 54.1494H0.988281L21.2073 0.160889H31.4838Z"/>
                                <path d="M62.8697 0.160889L42.6507 54.1494H32.3742L52.5932 0.160889H62.8697Z"/>å
                                <path d="M94.2556 0.160889L74.0366 54.1494H63.7601L83.9791 0.160889H94.2556Z"/>
                                <path d="M125.641 0.160889L105.422 54.1494H95.146L115.365 0.160889H125.641Z"/>
                                <path d="M157.027 0.160889L136.808 54.1494H126.532L146.751 0.160889H157.027Z"/>
                                <path d="M188.413 0.160889L168.194 54.1494H157.918L178.137 0.160889H188.413Z"/>
                                <path d="M219.799 0.160889L199.58 54.1494H189.304L209.523 0.160889H219.799Z"/>
                                <path d="M251.185 0.160889L230.966 54.1494H220.69L240.909 0.160889H251.185Z"/>
                                <path d="M282.571 0.160889L262.352 54.1494H252.075L272.295 0.160889H282.571Z"/>
                                <path d="M313.957 0.160889L293.738 54.1494H283.461L303.68 0.160889H313.957Z"/>
                                <path d="M345.343 0.160889L325.124 54.1494H314.847L335.066 0.160889H345.343Z"/>
                                <path d="M376.729 0.160889L356.51 54.1494H346.233L366.452 0.160889H376.729Z"/>
                                <path d="M408.115 0.160889L387.896 54.1494H377.619L397.838 0.160889H408.115Z"/>
                                <path d="M439.501 0.160889L419.281 54.1494H409.005L429.224 0.160889H439.501Z"/>
                                <path d="M470.886 0.160889L450.667 54.1494H440.391L460.61 0.160889H470.886Z"/>
                                <path d="M502.272 0.160889L482.053 54.1494H471.777L491.996 0.160889H502.272Z"/>
                                <path d="M533.658 0.160889L513.439 54.1494H503.163L523.382 0.160889H533.658Z"/>
                                <path d="M565.044 0.160889L544.825 54.1494H534.549L554.768 0.160889H565.044Z"/>
                                <path d="M596.43 0.160889L576.211 54.1494H565.934L586.154 0.160889H596.43Z"/>
                                <path d="M627.816 0.160889L607.597 54.1494H597.32L617.539 0.160889H627.816Z"/>
                            </g>
                        </svg>
                    </span>
                </div>
            </blockquote>
        </div>
    {%- endminify -%}
{%- endblock -%}
