{%- extends '_molecules/content/_content--props' -%}
{%- import '_macros/atoms' as render -%}
{%- import '_macros/icons' as icons -%}

{#
    ### PROPERTIES ###
    ------------------

    INHERITED FROM: `_molecules/content/_content--props.twig`

    ### LUTS ###
    ------------
    icon.fa_icon_lut: font-awesome class LUT

    ### COMPONENTS ###
    ------------------

    ## ATOMS
    icon--fa: `_atoms/icons/icon--fa.twig`
#}

{%- block copy -%}

    {%- minify -%}

        {%- set props = props|merge({
            code: props.content.code ??? null,
            filename: props.content.filename ??? null,
            language: props.content.language ??? null,
        }) -%}

        <div class="container max-w-[84ch] mx-auto copy-to-clipboard {{ props.utilities -}}">

            <div class="animate" data-animation="slideBottomToTop">
                <div class="bg-gray-800 pb-5 pt-2 lg:pb-5 rounded-2xl px-5">
                    <div class="font-mono flex justify-between text-yellow-500 pb-2 mb-4 border-b border-yellow-500">
                        <span>{{ props.filename ??? props.language ??? 'code'}}</span>
                        <button class="btn-copy-to-clipboard">
                            {{- render.atom('icon', 'fa', {
                                icon:  icons.fa_icon_lut('clipboard'),
                                size: 'md',
                                parentcss: 'ml-2 inline-block',
                                colour: 'text-white',
                            }) -}}
                        </button>
                    </div>

                    <pre class="font-mono text-white overflow-auto">
                        <code class="{{- 'language-' ~ props.language }} text-sm lg:text-base code-copy-to-clipboard">
                            <content--code :code="{{- props.code | json_encode -}}"></content--code>
                        </code>
                    </pre>
                </div>
            </div>

        </div>

    {%- endminify -%}

{%- endblock -%}
