{%- extends '_molecules/content/_content--props' -%}
{%- import '_macros/atoms' as render -%}

{%- set classes = {
    _default: 'block font-primary',
    color: 'text-white',
    print: 'print:text-black print:text-lg print:leading-6 break-avoid',
} -%}

{%- block copy -%}

    {%- set props = props|merge({
        heading: props.content.heading ??? ''
    }) -%}

    {%- minify -%}

        <div class="max-w-[80ch] mb-3 doc-heading {{ props.utilities -}}" id="doc-{{ props.heading|kebab }}">
            <div class="{{- props.animate ? 'animate' : '' -}}" data-animation="slideBottomToTop">
                <h1 class="{{- classes._default }} {{ classes.color}} {{ classes.print }}">
                    {{- render.atom('text', props.headingSize, { content: props.heading }) -}}
                </h1>
            </div>
        </div>

    {%- endminify -%}
{%- endblock -%}
