{%- import '_macros/atoms' as render -%}

{%- set heading = heading ??? entry.title ??? '' -%}
{%- set description = description ??? '' -%}
{%- set button = button ??? null -%}

{%- minify -%}

    <header 
        class="w-full pt-20 pb-10 md:pb-32 md:pt-60 flex items-center justify-center relative overflow-x-hidden md:overflow-visible"
        id="hero-container"
    >
        <div class="container max-w-screen-xl mx-auto flex flex-col items-center z-20">

            {# heading #}
            <h1 class="text-center max-w-3xl">
                <span class="sr-only">{{- seomatic.site.identity.genericName }}: </span>
                {{- render.atom('text', 'title', {
                    content: heading,
                    utilities: 'text-white'
                }) -}}
            </h1>

            {# description #}
            {%- if description -%}
                <div class="text-center max-w-3xl mt-8">
                    {{- render.atom('text', 'description', {
                        content: description,
                        utilities: 'text-white'
                    }) -}}
                </div>
            {%- endif -%}

            {# button #}
            {%- if button.getUrl() ??? null -%}

                {{- render.atom('button', 'primary', {
                    url: button.getUrl(),
                    ga: {
                        type: 'hero-cta',
                        label: button.getUrl()
                    },
                    text: button.getText(),
                    utilities: 'mt-10'
                }) -}}

            {%- endif -%}

        </div>
        
        {# lines #}
        {%- if entry.showLinesHero ??? null -%}
            <lines--random></lines--random>
        {%- endif -%}

        {# background #}
        <div class="absolute left-0 top-0 w-full h-screen overflow-hidden">
            <div class="absolute origin-top-right scale-50 md:scale-100 right-0 top-0 md:-top-[20vh] blur-xl opacity-40 z-10">
                {%- include 'svgs/background-blue' -%}
            </div>
            <div class="absolute origin-top-right scale-50 md:scale-100 right-0 top-0 md:-top-[20vh] blur-xl opacity-40 z-10">
                {%- include 'svgs/background-pink' -%}
            </div>
            <div class="absolute origin-top-right scale-50 md:scale-100 right-0 top-0 md:-top-[20vh] blur-xl opacity-40 z-10">
                {%- include 'svgs/background-blue' -%}
            </div>
        </div>
    </header>
{%- endminify -%}

{% block bodyJs %}
    {{ craft.vite.script("src/js/modules/hero.ts", true) }}
{% endblock bodyJs %}