{%- extends '_atoms/buttons/_button--props' -%}
{%- import '_macros/atoms' as render -%}

{#
    ### PROPERTIES ###
    ------------------

    INHERITED FROM: `_atoms/buttons/button--props.twig`
#}

{%- set classes = {
    '_default': 'inline-flex text-center rounded-md',
    'color': 'bg-metaseed-blue-500 text-white',
    'font': 'font-primary text-sm text-xl font-medium',
    'hover': 'hover:bg-metaseed-blue-900',
    'padding': 'px-6 py-4',
    'transition': 'transition-all ease-in-out duration-500',
}-%}

{%- block button -%}

    {%- minify -%}

        <a
            {{ props.url ? 'href=' ~ props.url : '' }}
            data-tag-category="button"
            data-tag-action="{{- props.ga.action ??? 'click' -}}"
            data-tag-label="{{- props.ga.label ??? '' -}}"
            data-tag-type="{{- props.ga.type ??? '' -}}"
            {{ props.target ? 'target=' ~ props.target : '' }}
            aria-label="{{- props.text -}}"
            class="
                {{- classes._default }} 
                {{ classes.color }} 
                {{ classes.font }} 
                {{ classes.hover }} 
                {{ classes.padding }} 
                {{ classes.transition }} 
                {{ props.utilities }}
            "
        >
            <span class="sr-only">
                {{- props.target == '_self' ? 'Go to: ' : 'Go to external page: ' -}}
            </span>

            <span>
                {{- props.text -}}
            </span>

            {%- if props.icon -%}

                {{- render.atom('icon', 'fa', {
                    icon: props.icon,
                    size: "xs"
                }) -}}

            {%- endif -%}

        </a>

    {%- endminify -%}

{%- endblock -%}
