{%- extends '_organisms/ctas/_cta--props' -%}
{%- import '_macros/atoms' as render -%}

{%- block cta -%}

    {%- set classes = {
        '_default': 'relative',
        'background': 'bg-slate-900/20 backdrop-blur-sm',
        'border': 'rounded-2xl border border-slate-700',
        'spacing': 'my-12',
    } -%}

    {%- minify -%}
    
        <section class="container max-w-screen-md mx-auto">
            <div class="
                {{- classes._default }}
                {{ classes.background }}
                {{ classes.border }}
                {{ classes.spacing -}}
            ">

                <line--top></line--top>
                <line--bottom color="pink"></line--bottom>

                <div class="p-px relative z-10 w-full h-full">
                    <article class="w-full rounded-xl sm:py-20 p-10 bg-slate-900/20 relative text-center sm:flex items-center justify-center">
                        <span class="inline-flex w-10 sm:w-14 mb-4 sm:mb-0 sm:mr-8">
                            {%- include 'svgs/metaseed-headphones.svg' -%}
                        </span>
                        <h1>
                            {{- render.atom('text', 'h2', {
                                content: 'info@metaseed.io',
                                utilities: 'text-white'
                            }) -}}
                        </h1>

                        {{- render.atom('link', 'card', {
                            url: 'mailto:info@metaseed.io',
                            text: 'info@metaseed.io',
                            ga: {
                                category: 'cta',
                                action: 'click',
                                type: 'card',
                                label: 'info@metaseed.io'
                            },
                        }) -}}
                    </article>
                </div>
            </div>
        </section>

    {%- endminify -%}

{%- endblock -%}