{%- extends '_atoms/links/_link--props' -%}

{#
    ### PROPERTIES ###
    ------------------

    INHERITED FROM: `_atoms/links/link--props.twig`
#}

{%- block link -%}

    {%- minify -%}
        <a
            href="{{- props.url -}}"
            data-tag-category="{{- props.ga.category ??? '' -}}"
            data-tag-action="{{- props.ga.action ??? '' -}}"
            data-tag-label="{{- props.ga.label ??? '' -}}"
            data-tag-type="{{- props.ga.type ??? '' -}}"
            title="{{- props.text -}}"
            aria-label="{{- props.text -}}"
            class="absolute inset-0 z-1"
        >
            <span class="sr-only">Read more about {{ props.text -}}</span>
        </a>
    {%- endminify -%}

{%- endblock -%}