{%- extends '_atoms/icons/_icon--props' -%}

{#
    ### PROPERTIES ###
    ------------------

    INHERITED FROM: `_atoms/icons/icon--props.twig`
#}

{%- block icon -%}

    {%- set sizes = {
        'inline': 'ml-1 text-xs',
        'xs': 'text-sm',
        'sm': 'text-base',
        'md': 'text-lg',
        'lg': 'text-xl',
        'xl': 'text-2xl md:text-4xl',
        '2xl': 'text-5xl',
    } -%}

    {%- set variantsIcon = {
        'circle': 'fas fa-circle fa-stack-2x',
        'square': 'fas fa-square-full fa-stack-2x',
    } -%}

    <span class="{{ sizes[props.size] is defined ? sizes[props.size] : sizes['sm'] }} {{ props.parentcss }} {{ props.variant != '' ? 'fa-stack' : '' }}">

        {%- if props.variant != '' -%}
            <i class="{{ variantsIcon[props.variant] is defined ? variantsIcon[props.variant] : '' }} {{ sizes[props.size] is defined ? sizes[props.size] : sizes['sm'] -}}"></i>
        {%- endif -%}

        <i class="{{ sizes[props.size] is defined ? sizes[props.size] : sizes['sm'] }} {{ props.variant != '' ? 'fa-stack-1x ' : '' }} {{ props.icon }} {{ props.iconcss -}}"></i>

    </span>
{%- endblock -%}
